<h2>Login Page</h2>

{% load crispy_forms_tags %}

<div class="message-section">
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>


<form method="POST">
    {% csrf_token %}

    <div class="form-section">
        {{ form|crispy }}
    </div>

    <button type="submit">Sign In</button>


    <div class="sign-in-section">
        Nee an account? <a href="{% url 'register' %}">Sign Up Now</a>
    </div>
</form>